# Dependency directories
node_modules/
jspm_packages/

# dotenv environment variables file
.env
.env.test

# parcel-bundler cache (https://parceljs.org/)
.cache

# Visual Studio
.vscode/
*.code-workspace

# macOS specific files
# general
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Build files
build/

# Distrubution files
dist/

# Package builds
package/

# Hidden files
nogit/

# Foundry Project Creator config file
foundryconfig.json
