@import url('https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap');

//$font-primary: 'Roboto', sans-serif;
//$font-secondary: 'Roboto', sans-serif;

$font-primary: 'Signika', sans-serif;
$font-secondary: 'Signika', sans-serif;

@font-face{
  font-family:"Lakise";
  src:url('../fonts/Harn-Lakise-Normal.otf') format('opentype');
  font-weight:normal;
  font-style:normal
}
@font-face{
  font-family:"Runic";
  src:url('../fonts/Harn-Runic-Normal.otf') format('opentype');
  font-weight:normal;
  font-style:normal
}
@font-face{
  font-family:"Lankorian Blackhand";
  src:url('../fonts/Lankorian-Blackhand.otf') format('opentype');
  font-weight:normal;
  font-style:normal
}
