<form id="create-item">
    <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" placeholder="{{placeholder}}" />
    </div>
    {{#if extraLabel}}
    <div class="form-group">
        <label>{{extraLabel}}</label>
        {{#if extraList}}
        <select class="resource-value" name="extra_value" data-dtype="String">
            {{#selectOptions extra_value}}
            {{#each extraList}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
            {{/selectOptions}}
        </select>
        {{else}}
        <input type="text" name="extra_value" data-dtype="String"/>
        {{/if}}
    </div>
    {{/if}}
</form>
