<form>
    {{#if weapons}}
    <div class="form-group">
        <label>Weapon:</label>
        <select name="weapon">
            {{#select defaultWeapon}}
            {{#each weapons}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
    {{/if}}

    {{#if weaponAspects}}
    <div class="form-group">
        <label for="weaponAspect">Weapon Aspect:</label>
        <select name="weaponAspect">
            {{#select defaultAspect}}
            {{#each weaponAspects as |value key|}}
                <option value="{{key}}">{{key}}{{#if defaultAspect}} ({{value}}){{/if}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
    {{/if}}
    
    {{#if aimlocations}}
    <div class="form-group">
        <label>Aim:</label>
        <select name="aim">
            {{#select defaultAim}}
            {{#each aimlocations}}
                {{#if (eq this defaultAim)}}
                    <option value="{{this}}" selected>{{this}}</option>
                {{else}}
                    <option value="{{this}}">{{this}}</option>
                {{/if}}
            {{/each}}
            {{/select}}
        </select>
    </div>
    {{/if}}

    <div class="form-group">
        <label>Additional {{type}} Modifier:</label>
        <input type="number" name="addlModifier" value="0" />
    </div>
</form>
