<form>
    <div class="form-group">
        <label>Attack Mastery Level:</label>
        <input readonly type="text" name="target" value="{{target}}" />
    </div>
    <div class="form-group">
        <div>Range to Target: {{targetRange}}</div>
    </div>

    {{#if rangeExceedsExtreme}}
    <div class="form-group">
        <div>Range exceeds the extreme range for this weapon. Please consult with your GM before continuing this attack.</div>
    </div>
    {{/if}}

    <div class="form-group">
        <label>Range (Max Distance):</label>
        <select name="range">
            {{selectOptions ranges selected=defaultRange}}
        </select>
    </div>
    <div class="form-group">
        <label>Additional Modifier:</label>
        <input type="text" name="addlModifier" value="0" />
    </div>
</form>
