<form id="welcome">
    <h2>Welcome to H&acirc;rnMaster 3 for Foundry VTT</h2>
    <p>This system assists players and GMs in playing H&acirc;rnMaster 3
        by taking over much of the bookkeeping and mundane tasks,
        and speeding up the flow of combat through automation.</p>
    <p>There are a lot of features and capabilities that may not
        at first be apparent, so a comprehensive compendium of
        helpful journal entries has been included. Throughout the
        system you will see the More Info icon (<i class="far fa-question-circle"></i>) that you may
        click on for detailed information on that area. You may
        also view the documenation in the Compendium by going to
        the sidebar, clicking on the "Compendium Packs" tab (<i class="fas fa-atlas"></i>), and then
        choosing the "HM3 System Help" journal compendium.</p>
    <div class="form-group">
        <input type="checkbox" name="showOnStartup" checked />
        <label id="showonstartup">Show this tip on startup</label>
    </div>
</form>
