.chat-card {
    font-style: normal;
    font-size: 15px;

    .card-header {
        text-align: center;
        padding: 3px 0;
        border-top: 2px groove #FFF;
        border-bottom: 2px groove #FFF;
        background-color: #bbb;
        color: #111;

        h3 {
            flex: 1;
            margin: 0;
            line-height: 36px;
            font-family: "Modesto Condensed", "Palatino Linotype", serif;
            font-size: 20px;
            font-weight: 700;
            color: #4b4a44;
        }

        h3:hover {
            color: #111;
            text-shadow: 0 0 10px red;
        }
    }

    .card-content {
        margin: 5px 0;
    
        h3 {
            font-size: 12px;
            margin: 0;
            font-weight: bold;
        }

        .label {
            font-weight: bold
        }
    }

    .card-footer {
        padding: 3px 0 0;
        border-top: 2px groove #FFF;
        text-align: center;
        font-size: 16px;
    }

    .critical-success-block {
        background-color: green;
        color: white;
    }

    .critical-failure-block {
        background-color: red;
        color: white;
    }
    
    .critical-success-text {
        color: green;
        font-weight: bold;
    }

    .critical-failure-text {
        color: red;
        font-weight: bold;
    }

    .note {
        font-style: italic;
    }

    .notice-header {
        border-top: 2px groove;
        color: red;
        text-align: center;
        font-weight: bold;
    }

    .notice-body {
        color: red;
        text-align: center;
    }
    
    .success-text {
        color: green;
    }

    .failure-text {
        color: red;
    }

    .emphasize-text {
        font-style: italic;
    }

}
