<form class="{{cssClass}} sheet flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header sheet-header-character">
        <div class="flexrow">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
            <div class="flexcol header-fields">
                <div class="flexrow name-attribute">
                    <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
                    <div class="header-stat-block">
                        <div class="penalties flexrow">
                        </div>
                        <div class="endurance flexrow">
                            <span class="label">Endurance: {{data.endurance.value}} / {{data.endurance.max}}</span>
                        </div>
                        <div class="endbar">
                            <span class="bar" style="width: {{data.endurance.pct}}%"></span>
                        </div>
                    </div>
                </div>
                <div class="header-attributes">
                    <ol class="flexrow">
                        <li class="attribute species flexcol">
                            <label class="label">Race</label>
                            <input class="value" type="text" name="data.species" value="{{data.species}}" data-dtype="String"/>
                        </li>
                        <li class="attribute gender flexcol">
                            <label class="label">Gender</label>
                            <input class="value" type="text" name="data.gender" value="{{data.gender}}" data-dtype="String"/>
                        </li>
                        <li class="attribute occupation flexcol">
                            <label class="label">Occupation</label>
                            <input class="value" type="text" name="data.occupation" value="{{data.occupation}}" data-dtype="String"/>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="profile flexrow" data-group="primary">
            <img class="bio-image" src="{{data.bioImage}}" title="{{actor.name}}" height="300" width="200" />
            <div class="profile-desc flexcol">
                <label class="label">Description</label>
                <div class="profile-description">
                    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
                </div>
            </div>        
        </div>
    </section>
</form>