<form class="{{cssClass}} sheet flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header sheet-header-character">
        <div class="flexrow">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
            <div class="flexcol header-fields">
                <div class="flexrow name-attribute">
                    <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
                    <div class="header-stat-block">
                        <div class="penalties flexrow">
                            <div class="capacity-label">Max Capacity</div>
                            <input class="capacity-value" type="number" name="data.capacity.max" value="{{data.capacity.max}}" data-dtype="Number"/>
                        </div>
                        <div class="endurance flexrow">
                            <span class="label">Capacity: {{data.capacity.value}}</span>
                        </div>
                        <div class="endbar">
                            <span class="bar" style="width: {{data.capacity.pct}}%"></span>
                        </div>
                    </div>
                </div>
                <div class="header-attributes">
                    <textarea class="description" id="data.description" name="data.description" placeholder="Description">{{data.description}}</textarea>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="inventory">Gear</a>
        <a class="item" data-tab="secrets">Private Details</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Profile Tab --}}
        <div class="tab inventory items" data-group="primary" data-tab="inventory">
            <!-- Gear -->
            {{#each containers as |citem cid|}}
                <ol class="items-list gear-list">
                    <li class="items-header gear flexrow">
                        <h3 class="item-name gear-name">{{citem.data.name}}</h3>
                        <div class="item-detail gear-type">Type</div>
                        <div class="item-detail gear-qty">Qty</div>
                        <div class="item-detail gear-weight">Weight</div>
                        <div class="item-detail gear-notes">Notes</div>
                        <div class="item detail gear-capacity {{#if (gt citem.data.data.capacity.value citem.data.data.capacity.max)}}overcapacity{{/if}}">Capacity: {{citem.data.data.capacity.value}}/{{citem.data.data.capacity.max}}</div>
                        <div class="item-controls">
                            <a class="item-control item-create active" title="Add Gear" data-type="gear" data-container-id="{{cid}}" data-container-name="{{citem.data.name}}"><i
                                    class="fas fa-plus"></i> Add</a>
                        </div>
                    </li>
                    <ol class="item-list gear-list">
                        {{#each ../actor.items as |item id|}}
                             {{#if (and (endswith item.type "gear") (eq item.data.container cid))}}
                                <li class="item gear {{#unless data.isCarried}}nocarry{{/unless}} flexrow" data-item-id="{{item._id}}" data-item-name="{{data.name}}">
                                    <div class="item-name gear-name flexrow">
                                        <div class="item-image" style="background-image: url('{{item.img}}')"></div>
                                        <h4>{{item.name}}</h4>
                                    </div>
                                    <div class="item-detail gear-type">{{lookup ../../gearTypes item.type}}</div>
                                    <div class="item-detail gear-qty">{{data.quantity}}</div>
                                    <div class="item-detail gear-weight">{{data.weight}}</div>
                                    <div class="item-detail gear-notes">{{data.notes}}</div>
                                    <div class="item-controls-wide">
                                        {{#if (eq cid "on-person")}}
                                        {{#unless (or (eq item.type "containergear") (eq item.type "miscgear"))}}
                                        <a class="item-control item-equip" title="Equip"><i class="{{#if data.isEquipped}}active{{/if}} fas fa-shield-alt"></i></a>
                                        {{/unless}}
                                        <a class="item-control item-carry" title="Carry"><i class="{{#if data.isCarried}}active{{/if}} fas fa-suitcase"></i></a>
                                        {{/if}}
                                        <a class="item-control item-edit" title="Edit"><i class="active fas fa-edit"></i></a>
                                        <a class="item-control item-delete" title="Delete" data-label="Miscellaneous Gear"><i class="active fas fa-trash"></i></a>
                                    </div>
                                </li>
                            {{/if}}
                        {{/each}}
                    </ol>
                </ol>
            {{/each}}
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="secrets">
            <div class="flexrow">
                <img class="bio-image" src="{{data.bioImage}}" data-edit="data.bioImage" title="{{actor.name}}" height="300" width="200" />
                <div class="bio-text">
                    {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>
    </section>

</form>
