<form class="{{cssClass}} sheet flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header sheet-header-character">
        <div class="flexrow">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
            <div class="flexcol header-fields">
                <div class="flexrow name-attribute">
                    <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
                    <div class="header-stat-block">
                        <div class="endurance flexrow">
                            <span class="label">Shock Index: {{adata.shockIndex.value}}</span>
                        </div>
                        <div class="endbar">
                            <span class="bar" style="width: {{adata.shockIndex.value}}%"></span>
                        </div>
                    </div>
                </div>
                <div class="header-attributes">
                    <ol class="flexrow">
                        <li class="attribute creature-species flexcol">
                        </li>
                        <li class="attribute move flexcol">
                            <label class="label">Move</label>
                            <div class="flexrow move-values">
                                <span class="move-eff">{{adata.move.effective}}</span>
                                <span class="sep">/</span>
                                <input class="move-base" type="number" name="system.move.base" value="{{adata.move.base}}" data-dtype="Number"/>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="facade">
            <div class="flexrow">
                <img class="facade-image" src="{{adata.bioImage}}" data-edit="system.bioImage" title="{{actor.name}}" height="300" width="200" />
                <div class="facade-description">
                    {{editor adata.description target="system.description" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>
    </section>

</form>