<div class="hm3 chat-card item-card" data-actor-id="{{actorId}}">
    <header class="card-header flexrow">
        <h3 class="title">{{title}}</h3>
    </header>

    {{#if notes}}
    <div class="card-note">
        <span>{{notes}}</span>
    </div>
    {{/if}}

    <div class="grid grid-2col">
        <div class="card-content center">
            <div class="flexrow">
                <span class="label"># Dice:</span>
                <span class="value">{{damageDice}}</span>
            </div>
        </div>

        <div class="card-content center">
            <div class="flexrow">
                <span class="label">Aspect:</span>
                <span class="value">{{weaponAspect}}</span>
            </div>
        </div>
    </div>
    
    {{#if (ne addlWeaponImpact 0)}}
    <div class="card-content center">
        <span class="label">Addl Weapon Impact:</span>
        <span class="value">{{addlWeaponImpact}}</span>
    </div>

    <div class="card-content center">
        <div class="flexcol">
            <span class="label">Total Impact (Base + Addl + Roll):</span>
            <span class="value">{{weaponImpact}} + {{addlWeaponImpact}} + ({{impactRoll}}) = <strong>{{totalImpact}}</strong></span>    
        </div>
    </div>
    {{else}}
    <div class="card-content center">
        <div class="flexcol">
            <span class="label">Total Impact (Base + Roll):</span>
            <span class="value">{{weaponImpact}} + ({{impactRoll}}) = <strong>{{totalImpact}}</strong></span>    
        </div>
    </div>
    {{/if}}
</div>
