<div class="hm3 chat-card item-card" data-actor-id="{{actorId}}">
    <header class="card-header flexrow">
        <h3 class="title">{{title}}</h3>
    </header>

    {{#unless isRandom}}
    <div class="card-content">
        <h3><strong>Location Not Random!</strong></h3>
    </div>
    {{/unless}}

    <div class="card-content">
        <span class="label">Aim:</span>
        <span class="value">{{aim}}</span>
    </div>

    <div class="card-content">
        <span class="label">Weapon Aspect:</span>
        <span class="value">{{aspect}}</span>
    </div>

    <div class="card-content">
        <span class="label">Location:</span>
        <span class="value">{{location}}</span>
    </div>

    <div class="card-content">
        <span class="label">Armor Layers (protection):</span>
        <span class="value">{{armorType}} ({{armorValue}})</span>
    </div>

    <div class="card-content">
        <span class="label">Weapon Impact:</span>
        <span class="value">{{impact}}</span>
    </div>

     <div class="card-content">
        <span class="label">Effective Impact:</span>
        <span class="value">{{impact}} - {{armorValue}} = <strong>{{effectiveImpact}}</strong></span>
    </div>

    {{#unless isInjured}}
        <div class="card-content">
            <span class="label">Injury Level:</span>
            <span class="value">No Injury</span>
        </div>
    {{else}}
        <div class="card-content">
            <span class="label">Injury Level:</span>
            <span class="value">{{injuryLevelText}}</span>
        </div>

        <div class="card-content">
            <span>Injury recorded on character sheet</span>
        </div>

        {{#if isBleeder}}
        <div class="card-content">
            <span>NOTE: Injury is a bleeder</span>
            <span>(Bloodloss must be manually recorded)</span>
        </div>
        {{/if}}

        {{#if isFumbleRoll}}
        <div class="card-content">
            <span>NOTE: Make a Fumble roll</span>
        </div>
        {{/if}}

        {{#if isFumble}}
        <div class="card-content">
            <span>NOTE: {{name}} Fumbles (no roll)</span>
        </div>
        {{/if}}

        {{#if isStumbleRoll}}
        <div class="card-content">
            <span>NOTE: Make a Stumble roll</span>
        </div>
        {{/if}}

        {{#if isStumble}}
        <div class="card-content">
            <span>NOTE: {{name}} Stumbles (no roll)</span>
        </div>
        {{/if}}

        {{#if isAmputate}}
        <div class="card-content">
            <span>NOTE: Roll for Amputation</span>
        </div>
        {{/if}}

        {{#if isKillShot}}
        <div class="card-content">
            <span><br/><strong>{{name}} recieved a Kill shot!!</strong><br/></span>
            <span>Roll against Endurance to determine if killed<br/></span>
            <span>Recording as Grevious injury in case not killed<br/></span>
            <span>Good Luck!</span>
        </div>
        {{/if}}
    {{/unless}}
</div>
