<div class="hm3 chat-card item-card" data-actor-id="{{actorId}}">
    <header class="card-header flexrow">
        <h3 class="title">{{title}}</h3>
    </header>

    {{#if notes}}
    <div class="card-note">
        <span>{{notes}}</span>
    </div>
    {{/if}}

    <div class="card-content">
        <span class="label">Aspect:</span>
        <span class="value">{{aspect}}</span>
    </div>

    {{#if (eq rangeModifier 0)}}
    <div class="card-content">
        <span class="label">Range (Modifier):</span>
        <span class="value">{{range}} ({{rangeModifier}})</span>
    </div>
    {{else}}
    <div class="card-content">
        <span class="label">Range (Modifier):</span>
        <span class="value">{{range}} (-{{rangeModifier}})</span>
    </div>
    {{/if}}

    <div class="card-content">
        <span class="label">Original Target:</span>
        <span class="value">{{origTarget}}</span>
    </div>

    {{#if (gt addlModifier 0)}}
    <div class="card-content">
        <span class="label">Additional Modifier:</span>
        <span class="value">{{plusMinus}}{{addlModifier}}</span>
    </div>

    <div class="card-content">
        <span class="label">Effective Target:</span>
        <span class="value">{{origTarget}} - {{rangeModifier}} {{plusMinus}} {{addlModifier}} = <strong>{{modifiedTarget}}</strong></span>
    </div>
    {{else}}
    <div class="card-content">
        <span class="label">Effective Target:</span>
        <span class="value">{{origTarget}} - {{rangeModifier}} = <strong>{{modifiedTarget}}</strong></span>
    </div>
    {{/if}}

    <div class="card-content">
        <span class="label">Roll:</span>
        {{#if isSuccess}}
            <span class="value success-text">{{rollValue}}</span>
        {{else}}
            <span class="value failure-text">{{rollValue}}</span>
        {{/if}}
    </div>

    {{#if isSuccess}}
        {{#if isCritical}}
        <footer class="card-footer critical-success-block">
            <span>{{description}}</span>
        </footer>
        {{else}}
        <footer class="card-footer success-text">
            <span>{{description}}</span>
        </footer>
        {{/if}}
    {{else}}
        {{#if isCritical}}
        <footer class="card-footer critical-failure-block">
            <span>{{description}}</span>
        </footer>
        {{else}}
        <footer class="card-footer failure-text">
            <span>{{description}}</span>
        </footer>
        {{/if}}
    {{/if}}
    </footer>
</div>
