<div class="hm3 chat-card item-card" data-actor-id="{{actorId}}">
    <header class="card-header flexrow">
        <h3 class="title">{{title}}</h3>
    </header>

    {{#if notes}}
    <div class="card-note">
        <span>{{notes}}</span>
    </div>
    {{/if}}

    {{#if (gt modifier 0)}}
    <div class="card-content">
        <span class="label">Original Target:</span>
        <span class="value">{{origTarget}}</span>
    </div>

    <div class="card-content">
        <span class="label">Modifier:</span>
        <span class="value">{{plusMinus}}{{modifier}}</span>
    </div>

    <div class="card-content">
        <span class="label">Effective Target:</span>
        <span class="value">{{origTarget}} {{plusMinus}} {{modifier}} = <strong>{{modifiedTarget}}</strong></span>
    </div>
    {{else}}
    <div class="card-content">
        <span class="label">Target:</span>
        <span class="value">{{modifiedTarget}}</span>
    </div>
    {{/if}}

    <div class="card-content">
        <span class="label">Roll:</span>
        {{#if isSuccess}}
            <span class="value success-text">{{#if showResult}}{{rollResult}} = {{/if}}{{rollValue}}</span>
        {{else}}
            <span class="value failure-text">{{#if showResult}}{{rollResult}} = {{/if}}{{rollValue}}</span>
        {{/if}}
    </div>

    {{#if isSuccess}}
        {{#if isCritical}}
        <footer class="card-footer critical-success-block">
            <span>{{description}}</span>
        </footer>
        {{else}}
        <footer class="card-footer success-text">
            <span>{{description}}</span>
        </footer>
        {{/if}}
    {{else}}
        {{#if isCritical}}
        <footer class="card-footer critical-failure-block">
            <span>{{description}}</span>
        </footer>
        {{else}}
        <footer class="card-footer failure-text">
            <span>{{description}}</span>
        </footer>
        {{/if}}
    {{/if}}
    </footer>
</div>
