.armorlocations-list {
    list-style: none;
    margin: 7px 0;
    padding: 0;
    overflow-y: auto;
  
    .armorlocation-header {
      font-weight: bold;
    }
  
    .armorlocation {
      height: 30px;
      line-height: 24px;
      padding: 3px 0;
      border-bottom: 1px solid #BBB;
  
      .armorlocation-image {
        flex: 0 0 24px;
        margin-right: 5px;
      }
  
      img {
        display: block;
      }
    }
  
    .armorlocation-name {
      flex: 0 0 115px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
  }
  
    .armorlocation-layers {
      flex: 0 0 120px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
  }
    
    .armorlocation-quality {
      flex: 0 0 40px;
      text-align: center;
    }

    .armorlocation-blunt {
      flex: 0 0 25px;
      text-align: center;
    }

    .armorlocation-edged {
      flex: 0 0 25px;
      text-align: center;
    }

    .armorlocation-piercing {
      flex: 0 0 25px;
      text-align: center;
    }

    .armorlocation-fire {
      flex: 0 0 25px;
      text-align: center;
    }

    .armorlocation-notes {
      flex: 1 0 150px;
      padding-left: 10px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
  }
  
    .item-controls {
      flex: 0 0 86px;
      text-align: right;
    }
  }