.combat {
    h2 {
        flex: 1;
        margin: 0;
        line-height: 36px;
        font-family: "Modesto Condensed", "Palatino Linotype", serif;
        font-size: 20px;
        font-weight: 700;
        color: #4b4a44;
        background-color: #bbb;
        border-top: 2px groove #FFF;
        border-bottom: 2px groove #FFF;
        padding: 5px;
    }

    .combat-stats {
        gap: 2px;

        .combat-stat {
            align-items: center;

            .combat-stat-label {
                flex: 0 0 55px;
                font-weight: bold;
                text-transform: uppercase;
            }
            
            .combat-stat-value {
                flex: 0 0 40px;
                background: #bbb;
                padding: 2px;
                text-align: center;
            }

            .combat-stat-input {
                flex: 0 0 40px;
                text-align: center;
            }
        }
    }

    .weapons-list {
        list-style: none;
        margin: 7px 0;
        padding: 0;
        overflow-y: auto;

        .weapon-header {
            font-weight: bold;
        }

        .weapon {
            height: 30px;
            line-height: 24px;
            padding: 3px 0;
            border-bottom: 1px solid #bbb;

            .weapon-image {
                flex: 0 0 24px;
                margin-right: 5px;
            }

            img {
                display: block;
            }

            .weapon-damage {
                flex: 0 0 35px;
                text-align: center;

                .inactive {
                    color: #b5b3a4;
                }

                .active {
                    color: #4b4a44;
                }
            }

            .weapon-name {
                flex: 0 0 120px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            .weapon-qty {
                flex: 0 0 25px;
                text-align: center;
            }

            .weapon-weight {
                flex: 0 0 25px;
                text-align: center;
            }

            .weapon-quality {
                flex: 0 0 25px;
                text-align: center;
            }

            .weapon-atkdef {
                flex: 0 0 40px;
                text-align: center;
            }

            .weapon-handmode {
                flex: 0 0 25px;
                text-align: center;
            }

            .weapon-blunt {
                flex: 0 0 25px;
                text-align: center;
            }

            .weapon-edged {
                flex: 0 0 25px;
                text-align: center;
            }

            .weapon-piercing {
                flex: 0 0 25px;
                text-align: center;
            }

            .weapon-attack {
                flex: 0 0 30px;
                text-align: center;
            }

            .weapon-defense {
                flex: 0 0 30px;
                text-align: center;
            }
            
            .weapon-notes {
                flex: 1 0 75px;
                padding-left: 10px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            
            .item-controls {
                flex: 0 0 70px;
                text-align: right;

                .item-equip {
                    color: #b5b3a4;
                }
              
                .item-carry {
                    color: #b5b3a4;
                }
        
                .active {
                    color: #4b4a44;
                }
              
            }

            .item-dice {
                color: #b5b3a4;

                .active {
                    color: #4b4a44;
                }
            }
        }
    }

    .missiles-list {
        list-style: none;
        margin: 7px 0;
        padding: 0;
        overflow-y: auto;

        .missile-header {
            font-weight: bold;
        }

        .missile {
            height: 30px;
            line-height: 24px;
            padding: 3px 0;
            border-bottom: 1px solid #bbb;

            .missile-image {
                flex: 0 0 24px;
                margin-right: 5px;
            }

            img {
                display: block;
            }

            .missile-damage {
                flex: 0 0 35px;
                text-align: center;

                .inactive {
                    color: #b5b3a4;
                }

                .active {
                    color: #4b4a44;
                }
            }

            .missile-name {
                flex: 0 0 90px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            .missile-qty {
                flex: 0 0 25px;
                text-align: center;
            }

            .missile-weight {
                flex: 0 0 30px;
                text-align: center;
            }

            .missile-skill {
                flex: 0 0 75px;
                text-align: left;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            .missile-short {
                flex: 0 0 45px;
                text-align: center;
            }

            .missile-medium {
                flex: 0 0 45px;
                text-align: center;
            }

            .missile-long {
                flex: 0 0 45px;
                text-align: center;
            }

            .missile-extreme {
                flex: 0 0 45px;
                text-align: center;
            }

            .missile-attack {
                flex: 0 0 30px;
                text-align: center;
            }
            
            .missile-notes {
                flex: 1 0 50px;
                padding-left: 10px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            
            .item-controls {
                flex: 0 0 70px;
                text-align: right;
                .item-equip {
                    color: #b5b3a4;
                }
              
                .item-carry {
                    color: #b5b3a4;
                }
              
                .active {
                    color: #4b4a44;
                }
              
            }

            .item-dice {
                color: #b5b3a4;

                .active {
                    color: #4b4a44;
                }
            }
        }
    }
}

.range-table {
    .range-header {
        font-weight: bold;
    }

    .range-label {
        flex: 0 0 50px;
        font-weight: bold;
        text-align: left;
    }

    .range-value {
        flex: 0 0 60px;
        margin: 0 2px;
        text-align: center;
    }
}
