.sheet-body .combat-stats .combat-stat .combat-stat-label {
  flex: 0 0 80px;
  font-weight: bold;
  text-transform: uppercase;
}
  
.sheet-body .combat-stats .combat-stat .combat-stat-value {
  flex: 0 0 40px;
}
  