.item-form {
  font-family: $font-primary;
}

.sheet .sheet-header-character {
  flex: 0 0 120px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
  border-bottom: 2px groove #eeede0;

  .profile-img {
    flex: 0 0 100px;
    height: 100px;
    margin-right: 10px;
  }

  .header-fields {
    
    .name-attribute {
      border-bottom: 2px groove #eeede0;

      h1.charname {
        height: 50px;
        padding: 0px;
        margin: 5px 0;
        border-bottom: 0;
        input {
          width: 100%;
          height: 100%;
          margin: 0;
        }
      }
    }

    .header-stat-block {
      flex: 0 0 140px;

      .penalties {
        padding: 0 0 5px;
        font-size: 12px;
        font-weight: bold;
        
        .stat {
          text-align: center;
          text-transform: uppercase;
          font-size: 14px;
          border-right: 1px solid black;
        }

        .statend {
          text-align: center;
          text-transform: uppercase;
          font-size: 14px;
        }
      }

      .endurance {
        text-align: center;
        padding: 5px 0 0;

        .label {
          font-size: 14px;
          text-transform: uppercase;
          font-weight: bold;
        }
      }

      .endbar {
        flex: 0 0 8px;
        width: 100%;
        margin-bottom: 5px;
        background: #7a7971;
        border: 1px solid #000;
        border-radius: 3px;
      
         .bar {
          height: 4px;
          margin: 1px;
          display: block;
          background: #afebff;
          border: 1px solid #000;
          border-radius: 2px;
        }
      }
      
    }

    .header-attributes {

      .attribute {
        min-height: 40px;
        margin: 2px;

        .label {
          font-size: 10px;
          text-transform: uppercase;
          font-weight: bold;
        }

        .value {
          font-size: 15px;
          height: calc(100% - 6px)
        }
      }
      
      .species {
        flex: 0 0 80px;
        border-right: 2px groove #eeede0;
      }

      .creature-species {
        flex: 1 0 80px;
        border-right: 2px groove #eeede0;
      }

      .gender {
        flex: 0 0 80px;
        border-right: 2px groove #eeede0;
      }

      .move {
        flex: 0 0 80px;

        .label {
          font-size: 10px;
          text-transform: uppercase;
          font-weight: bold;
        }
      
        .move-values {
          font-size: 19px;
          text-align: center;
          align-items: center;
          
          .move-eff {
            text-align: right;
          }

          .sep {
            padding: 0 0 0 6px;
          }

          .move-base {
            flex: 1 0 30px;
          }
        }
      }

      .occupation {
        flex: 1;
        border-right: 2px groove #eeede0;
      }
    }
  }
}

.sheet-header-creature {
  flex: 0 0 200px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;

  .profile-img {
    flex: 0 0 160px;
    height: 160px;
    margin-right: 10px;
  }

  .header-fields {
    flex: 1;
  }

  h1.charname {
    height: 50px;
    padding: 0px;
    margin: 5px 0;
    border-bottom: 0;
    input {
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }

  .ability-scores {
    flex: 0 0 110px;
    gap: 0;
    margin: 10px;
    
    .ability-scores-column { 
      border: 2px groove #eeede0;
      padding: 3px;

      .ability {
        align-items: center;
        text-align: center;
        padding: 3px 0 0 0;
        border-bottom: 2px groove #eeede0;

        .label {
          flex: 0 0 40px;
          font-weight: bold;
          text-transform: uppercase;
        }

        .value {
          flex: 0 0 40px;
          font-size: 20pt;
        }
      }
    }
  }
}

.sheet-tabs {
  flex: 0;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
  height: 100%;
}

.tox {
  .tox-edit-area {
    padding: 0 8px;
  }
}