.injuries-list {
    list-style: none;
    margin: 7px 0;
    padding: 0;
    overflow-y: auto;
  
    .injury-header {
      font-weight: bold;
    }
  
    .injury {
      height: 30px;
      line-height: 24px;
      padding: 3px 0;
      border-bottom: 1px solid #BBB;
  
      .injury-image {
        flex: 0 0 24px;
        margin-right: 5px;
      }
  
      img {
        display: block;
      }
    }
  
    .injury-name {
      flex: 0 0 200px;
    }
  
    .injury-location {
        flex: 0 0 40px;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    
    .injury-healrate {
      flex: 0 0 40px;
      text-align: center;
    }

    .injury-severity {
      flex: 0 0 50px;
      text-align: center;
    }
    
    .injury-level {
      flex: 1 0 40px;
      text-align: center;
    }
  
    .injury-notes {
      flex: 1 0 200px;
      padding-left: 10px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
  }
  
    .item-controls {
      flex: 1 0 86px;
      text-align: right;
    }
  }