.sheet-body {
  .ability-scores {
    flex: 0 0 120px;
    
    .ability {
      align-items: center;

      .ability-label {
        flex: 0 0 40px;
        font-weight: bold;
        text-transform: uppercase;
      }

      .ability-value {
        flex: 0 0 40px;
      }
    }
  }

  .profile-traits-section {
    flex: 0 0 480px;

    .profile-traits-group {
      flex: 0 0 200px;
      border: none;

      .profile-trait {
        align-items: center;

        .profile-trait-label {
          flex: 0 0 95px;
          font-weight: bold;
          text-transform: uppercase;
        }

        .profile-trait-value {
          flex: 0 0 120px;
        }
      }
    }
  }
}