.sheet-body {
  .ability-scores {
    flex: 0 0 260px;
    gap: 0;
    margin: 10px;
    
    .ability-scores-column { 
      border: 2px groove #eeede0;
      padding: 3px;

      .ability {
        display: block;
        align-items: center;
        text-align: center;
        padding: 3px 0 0 0;
        border-bottom: 2px groove #eeede0;

        .ability-name {
          margin: 0 0 2px;
          font-size: 13px;
        }

        .ability-value {
          font-size: 25px;
          font-weight: bold;
          margin: 0 0 2px;
        }

        .ability-box {
          border-top: 1px solid black;
        }
        .label {
          flex: 0 0 40px;
          font-weight: bold;
          text-transform: uppercase;
        }

        .value {
          flex: 0 0 40px;
          font-size: 20pt;
        }
      }

      .ability:last-child {
        border-bottom: none;
      }

    }
  }

  .profile-params {
    margin-top: 5px;
    align-items: center;
    flex: 0 1 10px;

    .profile-item {
       align-items: center;

      .label {
        flex: 0 0 70px;
        font-weight: bold;
        text-transform: uppercase;
      }

      .value {
        flex: 0 0 120px;
        border: 1px solid black;
      }
    }
  }

  .profile-desc {
    margin-top: 15px;

    .label {
      flex: 0 0 18px;
      font-weight: bold;
      text-transform: uppercase;  
    }
  }
}