&.actor {
  .skills {
    h2 {
      flex: 1;
      margin: 0;
      line-height: 36px;
      font-family: "Modesto Condensed", "Palatino Linotype", serif;
      font-size: 20px;
      font-weight: 700;
      color: #4b4a44;
      background-color: #bbb;
      border-top: 2px groove #fff;
      border-bottom: 2px groove #fff;
      padding: 5px;
    }

    .skill-name-filter {
      background-image: url('../images/png/searchicon.png');
      background-size: contain;
      background-position: 5px -1px;
      background-repeat: no-repeat;
      width: 100%;
      font-size: 15px;
      padding: 5px 0px 5px 40px;
      border: 2px groove #eeede0;
      margin-top: 5px;
    }

    .skills-list {
      list-style: none;
      margin: 7px 0;
      padding: 0;
      overflow-y: auto;

      .skill {
        
        .skill-name {
          flex: 0 0 200px;
        }

        .skill-notes {
          flex: 1 0 100px;
          text-align: left;
          padding-left: 5px;
          border-left: 1px solid #c9c7b8;
          border-right: 1px solid #c9c7b8;
        }

        .skill-ele {
          flex: 0 0 40px;
          text-align: center;
          border-left: 1px solid #c9c7b8;
          border-right: 1px solid #c9c7b8;
        }
  
        .item-controls {
          flex: 0 0 45px;
          text-align: right;
  
          .item-control {
            flex: 0 0 22px;
            font-size: 12px;
            text-align: center;
            color: #4b4a44;
          }
        }
      }
    }
  }
}

&.item {
  .skill-header {
    img.profile-img {
      flex: 0 0 85px;
      height: 85px;
      margin-right: 6px;
    }
    
    .header-fields {
      .skill-type {
        align-items: center;

        .label {
          flex: 0 0 45px;
          padding-left: 8px;
          font-family: "Modesto Condensed", "Palatino Linotype", serif;
          font-weight: bold;
          font-size: 19px;
        }

        .value {
          flex: 0 0 110px;
          font-size: 14px;
        }
      }
    }
  }
}
