// .tabs {
//   .item {
//     background: rgba(0, 0, 0, 0.125);
//     border: 1px solid;
//     border-radius: 4px;
//     margin: 0 10px 0;
//     padding: 8px 4px;

//     &:hover,
//     &:focus {
//       background: rgba(0, 0, 0, 0.125);
//     }

//     &.active {
//       background: transparent;
//     }
//   }
// }

.tabs {
  flex: 0 0 30px;
  margin-bottom: 5px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;

  .item {
      height: 30px;
      line-height: 32px;
      margin: 0 24px;
      border-bottom: 3px solid #b5b3a4;
  }

  .item.active {
    text-decoration: underline;
    text-shadow: none;
  }
}

.sheet-body .tab {
  margin-right: 5px;
}