<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="properties">Properties</a>
        <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="armorlocation properties sheet-body">
        <div class="tab properties" data-group="primary" data-tab="properties">
            <fieldset>
                <legend>Basic Armor Settings</legend>
                <div class="grid grid-fixed-row grid-2col">
                    <div class="basic-setting" id="armorlocation-layers">
                        <label class="label">Layers</label>
                        <input class="value" type="text" name="system.layers" value="{{idata.layers}}"
                            data-dtype="String" />
                    </div>
                    <div class="basic-setting" id="armorlocation-quality">
                        <label class="label">Armor Quality (AQ)</label>
                        <input class="value" type="number" name="system.armorQuality" value="{{idata.armorQuality}}"
                            data-dtype="Number" />
                    </div>
                </div>
                <div class="resource" id="armorlocation-note">
                    <label class="resource-label">Note</label>
                    <input type="text" name="system.notes" value="{{idata.notes}}" data-dtype="String" />
                </div>
                <div class="grid grid-row grid-4col">
                    <div class="protection" id="armorlocation-blunt">
                        <label class="label">Blunt</label>
                        <input class="value" type="number" name="system.blunt" value="{{idata.blunt}}"
                            data-dtype="Number" />
                    </div>
                    <div class="protection" id="armorlocation-edged">
                        <label class="label">Edged</label>
                        <input class="value" type="number" name="system.edged" value="{{idata.edged}}"
                            data-dtype="Number" />
                    </div>
                    <div class="protection" id="armorlocation-piercing">
                        <label class="label">Piercing</label>
                        <input class="value" type="number" name="system.piercing" value="{{idata.piercing}}"
                            data-dtype="Number" />
                    </div>
                    <div class="protection" id="armorlocation-fire">
                        <label class="label">Fire</label>
                        <input class="value" type="number" name="system.fire" value="{{idata.fire}}" data-dtype="Number" />
                    </div>
                </div>
            </fieldset>
            <fieldset id="armorlocation-probweight">
                <legend>Hit Probability Weights</legend>
                <div class="weight grid grid-fixed-row grid-3col">
                    <div class="prob-weight" id="armorlocation-probweight-high">
                        <label class="label">High Aim</label>
                        <input class="value" type="number" name="system.probWeight.high" value="{{idata.probWeight.high}}"
                            data-dtype="Number" />
                    </div>
                    <div class="prob-weight" id="armorlocation-probweight-mid">
                        <label class="label">Medium Aim</label>
                        <input class="value" type="number" name="system.probWeight.mid" value="{{idata.probWeight.mid}}"
                            data-dtype="Number" />
                    </div>
                    <div class="prob-weight" id="armorlocation-probweight-low">
                        <label class="label">Low Aim</label>
                        <input class="value" type="number" name="system.probWeight.low" value="{{idata.probWeight.low}}"
                            data-dtype="Number" />
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Hit Location Settings</legend>
                <div class="flexrow">
                    <div class="flexcol">
                        <div class="adv-setting" id="armorlocation-isfumble">
                            <input class="value" type="checkbox" name="system.isFumble" value="{{idata.isFumble}}"
                                data-dtype="Boolean" {{checked idata.isFumble}} />
                            <label for="system.isFumble" class="label">Fumble Risk</label>
                        </div>
                        <div class="adv-setting" id="armorlocation-isstumble">
                            <input class="value" type="checkbox" name="system.isStumble" value="{{idata.isStumble}}"
                                data-dtype="Boolean" {{checked idata.isStumble}} />
                            <label for="system.isStumble" class="label">Stumble Risk</label>
                        </div>
                        <div class="adv-setting" id="armorlocation-isamputate">
                            <input class="value" type="checkbox" name="system.isAmputate" value="{{idata.isAmputate}}"
                                data-dtype="Boolean" {{checked idata.isAmputate}} />
                            <label for="system.isAmputate" class="label">Amputate Risk</label>
                        </div>
                    </div>
                    <div class="adv-setting" id="armorlocation-impacttype">
                        <label class="label" for="system.impactType">Location Type</label>
                        <select class="value" name="system.impactType">
                            {{#select idata.impactType}}
                                {{#each config.injuryLocations as |value key|}}
                                    <option value="{{value.impactType}}">{{key}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </div>
                <div class="item flexrow" id="armorlocation-effimp-header">
                    <span class="armorlocation-effimp-label">1&plus;</span>
                    <span class="armorlocation-effimp-label">5&plus;</span>
                    <span class="armorlocation-effimp-label">9&plus;</span>
                    <span class="armorlocation-effimp-label">13&plus;</span>
                    <span class="armorlocation-effimp-label">17&plus;</span>
                </div>
                <div class="item flexrow">
                    <select class="armorlocation-effimp-item" id="armorlocation-effimp-ei1"
                        name="system.effectiveImpact.ei1" data-dtype="String">
                        {{#select idata.effectiveImpact.ei1}}
                            {{#each config.injuryLevels}}
                                <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                    <select class="armorlocation-effimp-item" id="armorlocation-effimp-ei5"
                        name="system.effectiveImpact.ei5" data-dtype="String">
                        {{#select idata.effectiveImpact.ei5}}
                            {{#each config.injuryLevels}}
                                <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                    <select class="armorlocation-effimp-item" id="armorlocation-effimp-ei9"
                        name="system.effectiveImpact.ei9" data-dtype="String">
                        {{#select idata.effectiveImpact.ei9}}
                            {{#each config.injuryLevels}}
                                <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                    <select class="armorlocation-effimp-item" id="armorlocation-effimp-ei13"
                        name="system.effectiveImpact.ei13" data-dtype="String">
                        {{#select idata.effectiveImpact.ei13}}
                            {{#each config.injuryLevels}}
                                <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                    <select class="armorlocation-effimp-item" id="armorlocation-effimp-ei17"
                        name="system.effectiveImpact.ei17" data-dtype="String">
                        {{#select idata.effectiveImpact.ei17}}
                            {{#each config.injuryLevels}}
                                <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                </div>
            </fieldset>
        </div>

        {{!-- Description Tab --}}
        <div class="tab description" id="armorlocation-desc" data-group="primary" data-tab="description">
            {{editor idata.description target="system.description" button=true owner=owner editable=editable}}
        </div>

    </section>

</form>