<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="properties">Properties</a>
        <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Properties Tab --}}
        <div class="tab properties" data-group="primary" data-tab="properties">
            <div class="grid grid-3col">
                <div class="resource">
                    <label class="resource-label">Quantity</label>
                    <input type="number" name="data.quantity" value="{{data.quantity}}" data-dtype="Number"/>
                </div>
                <div class="resource">
                    <label class="resource-label">Weight</label>
                    <input type="number" name="data.weight" value="{{data.weight}}" data-dtype="Number"/>
                </div>
                <div class="resource">
                    <label class="resource-label">Value</label>
                    <input type="number" name="data.value" value="{{data.value}}" data-dtype="Number"/>
                </div>
                <div class="resource">
                    <label class="resource-label">Armor Quality</label>
                    <input type="number" name="data.armorQuality" value="{{data.armorQuality}}" data-dtype="Number"/>
                </div>
                <div class="resource">
                    <label class="resource-label">Material</label>
                    <input type="text" name="data.material" value="{{data.material}}" data-dtype="String"/>
                </div>
                <div class="resource">
                    <label class="resource-label">Size</label>
                    <input type="number" name="data.size" value="{{data.size}}" data-dtype="Number"/>
                </div>
            </div>
            <div class="resource">
                <label class="resource-label">Source</label>
                <input type="text" name="data.source" value="{{data.source}}" data-dtype="String"/>
            </div>
            <div class="resource">
                <label class="resource-label">Note</label>
                <input type="text" name="data.notes" value="{{data.notes}}" data-dtype="String"/>
            </div>
            <fieldset class="armorgear-protection">
                <legend>Protection</legend>
                <div class="grid grid-4col">
                    <div class="armorgear-protection-item">
                        <label class="label">Blunt</label>
                        <input class="value" type="number" name="data.protection.blunt" value="{{data.protection.blunt}}" data-dtype="Number"/>
                    </div>
                    <div class="armorgear-protection-item">
                        <label class="label">Edged</label>
                        <input class="value" type="number" name="data.protection.edged" value="{{data.protection.edged}}" data-dtype="Number"/>
                    </div>
                    <div class="armorgear-protection-item">
                        <label class="label">Piercing</label>
                        <input class="value" type="number" name="data.protection.piercing" value="{{data.protection.piercing}}" data-dtype="Number"/>
                    </div>
                    <div class="armorgear-protection-item">
                        <label class="label">Fire</label>
                        <input class="value" type="number" name="data.protection.fire" value="{{data.protection.fire}}" data-dtype="Number"/>
                    </div>
                </div>
            </fieldset>
            <fieldset class="armor-locations-list">
                <legend>Locations</Legend>
                <div class="armorgear-location flexrow">
                    <label class="label">Location:</label>
                    <select class="value" name="data.targetLocation">
                        {{#select data.targetLocation}}
                        {{#each config.injuryLocations as |value key|}}
                        {{#if (ne key "Custom")}}
                            <option value="{{key}}">{{key}}</option>
                        {{/if}}
                        {{/each}}
                        {{/select}}
                    </select>
                    <a class="armorgear-location-add" data-location="{{data.targetLocation}}"><i class="fas fa-plus"></i> Add</a>
                </div>
                <ol class="grid grid-4col">
                    {{#each data.locations}}
                    <li class="armor-location">
                        <span class="name">{{this}}</span>
                        <a class="armorgear-location-delete" data-location="{{this}}" title="Delete Location"><i class="fas fa-trash"></i></a>
                    </li>
                    {{/each}}
                </ol>
            </fieldset>
            <div class="resource artifact flexrow">
                <input type="checkbox" name="data.arcane.isArtifact" value="{{data.arcane.isArtifact}}" data-dtype="Boolean" {{checked data.arcane.isArtifact}} />
                <label class="resource-label">Artifact</label>
            </div>
            {{#if data.arcane.isArtifact}}
            <fieldset>
                <legend>Artifact Properties</legend>
                <div class="grid grid-3col">
                    <div class="resource">
                        <input type="checkbox" name="data.arcane.isAttuned" value="{{data.arcane.isAttuned}}" data-dtype="Boolean" {{checked data.arcane.isAttuned}} />
                        <label class="resource-label">Attuned</label>
                    </div>
                    <div class="resource">
                        <label class="resource-label">Charges</label>
                        <input type="number" name="data.arcane.charges" value="{{data.arcane.charges}}" data-dtype="Number"/>
                    </div>
                    <div class="resource">
                        <label class="resource-label">Ego/Will</label>
                        <input type="number" name="data.arcane.ego" value="{{data.arcane.ego}}" data-dtype="Number"/>
                    </div>
                </div>
            </fieldset>
            {{/if}}
        </div>

        {{!-- Description Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
