<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="grid grid-2col">
            <div class="resource">
                <label class="resource-label">Layers</label>
                <input type="text" name="data.layers" value="{{data.layers}}" data-dtype="String"/>
            </div>
            <div class="resource">
                <label class="resource-label">Armor Quality (AQ)</label>
                <input type="text" name="data.armorQuality" value="{{data.armorQuality}}" data-dtype="Number"/>
            </div>
            <div class="resource">
                <label class="resource-label">Blunt</label>
                <input type="text" name="data.blunt" value="{{data.blunt}}" data-dtype="Number"/>
            </div>
            <div class="resource">
                <label class="resource-label">Edged</label>
                <input type="text" name="data.edged" value="{{data.edged}}" data-dtype="Number"/>
            </div>
            <div class="resource">
                <label class="resource-label">Piercing</label>
                <input type="text" name="data.piercing" value="{{data.piercing}}" data-dtype="Number"/>
            </div>
            <div class="resource">
                <label class="resource-label">Fire</label>
                <input type="text" name="data.fire" value="{{data.fire}}" data-dtype="Number"/>
            </div>
            <div class="resource">
                <label class="resource-label">Prob. Weight High</label>
                <input type="text" name="data.probWeight.high" value="{{data.probWeight.high}}" data-dtype="Number"/>
            </div>
            <div class="resource">
                <label class="resource-label">Prob. Weight Medium</label>
                <input type="text" name="data.probWeight.mid" value="{{data.probWeight.mid}}" data-dtype="Number"/>
            </div>
            <div class="resource">
                <label class="resource-label">Prob. Weight Low</label>
                <input type="text" name="data.probWeight.low" value="{{data.probWeight.low}}" data-dtype="Number"/>
            </div>
            <div class="resource">
                <label class="resource-label">Fumble</label>
                <input type="checkbox" name="data.isFumble" value="{{data.isFumble}}" data-dtype="Boolean" {{checked data.isFumble}} />
            </div>
            <div class="resource">
                <label class="resource-label">Stumble</label>
                <input type="checkbox" name="data.isStumble" value="{{data.isStumble}}" data-dtype="Boolean" {{checked data.isStumble}} />
            </div>
            <div class="resource">
                <label class="resource-label">Amputate Risk</label>
                <input type="checkbox" name="data.isAmputate" value="{{data.isAmputate}}" data-dtype="Boolean" {{checked data.isAmputate}} />
            </div>
            <div class="resource">
                <label for="data.impactType" class="resource-label">Impact Type</label>
                <select class="resource-value" name="data.impactType">
                    {{#select data.impactType}}
                    {{#each config.injuryLocations as |value key|}}
                        <option value="{{value.impactType}}">{{key}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="item flexrow">
            <span class="armorlocation-effimp-label">1&plus;</span>
            <span class="armorlocation-effimp-label">5&plus;</span>
            <span class="armorlocation-effimp-label">9&plus;</span>
            <span class="armorlocation-effimp-label">13&plus;</span>
            <span class="armorlocation-effimp-label">17&plus;</span>
        </div>
        </div>
        <div class="item flexrow">
            <select class="armorlocation-effimp-item" name="data.effectiveImpact.ei1" data-dtype="String">
                {{#select data.effectiveImpact.ei1}}
                {{#each config.injuryLevels}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
                {{/select}}
            </select>
            <select class="armorlocation-effimp-item" name="data.effectiveImpact.ei5" data-dtype="String">
                {{#select data.effectiveImpact.ei5}}
                {{#each config.injuryLevels}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
                {{/select}}
            </select>
            <select class="armorlocation-effimp-item" name="data.effectiveImpact.ei9" data-dtype="String">
                {{#select data.effectiveImpact.ei9}}
                {{#each config.injuryLevels}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
                {{/select}}
            </select>
            <select class="armorlocation-effimp-item" name="data.effectiveImpact.ei13" data-dtype="String">
                {{#select data.effectiveImpact.ei13}}
                {{#each config.injuryLevels}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
                {{/select}}
            </select>
            <select class="armorlocation-effimp-item" name="data.effectiveImpact.ei17" data-dtype="String">
                {{#select data.effectiveImpact.ei17}}
                {{#each config.injuryLevels}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
    </section>

</form>
