<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
            <div class="flexrow">
                <label>In Container:</label>
                <select name="data.container">
                    {{#select data.container}}
                        {{#each containers as |cid cname|}}
                            <option value="{{cid}}">{{cname}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="properties">Properties</a>
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="effects">effects</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Properties Tab --}}
        <div class="tab properties" data-group="primary" data-tab="properties">
            <div class="grid grid-fixed-row grid-3col">
                <div class="resource" id="missilegear-qty">
                    <label class="resource-label">Quantity</label>
                    <input type="number" name="data.quantity" value="{{data.quantity}}" data-dtype="Number" />
                </div>
                <div class="resource" id="missilegear-weight">
                    <label class="resource-label">Weight</label>
                    <input type="number" name="data.weight" value="{{data.weight}}" data-dtype="Number" />
                </div>
                <div class="resource" id="missilegear-value">
                    <label class="resource-label">Value</label>
                    <input type="number" name="data.value" value="{{data.value}}" data-dtype="Number" />
                </div>
                <div></div>
                <div></div>
                <div></div>
                <div class="resource" id="missilegear-quality">
                    <label class="resource-label">Weapon Quality</label>
                    <input type="number" name="data.weaponQuality" value="{{data.weaponQuality}}" data-dtype="Number" />
                </div>
                <div class="resource" id="missilegear=weaponaspect">
                    <label class="resource-label" for="data.weaponAspect">Weapon Aspect</label>
                    <select class="resource-value" name="data.weaponAspect" data-dtype="String">
                        {{#select data.weaponAspect}}
                            <option value="Piercing">Piercing</option>
                            <option value="Blunt">Blunt</option>
                            <option value="Edged">Edged</option>
                        {{/select}}
                    </select>
                </div>
                <div class="resource" id="missilegear-assocskill">
                    <label class="resource-label" for="data.assocSkill">Associated Skill</label>
                    {{#if hasCombatSkills}}
                        <select class="resource-value" name="data.assocSkill" data-dtype="String">
                            {{#select data.assocSkill}}
                                {{#each combatSkills}}
                                    <option value="{{this}}">{{this}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    {{else}}
                        <input type="text" name="data.assocSkill" value="{{data.assocSkill}}" data-dtype="String" />
                    {{/if}}
                </div>
            </div>
            <div class="resource" id="missilegear-source">
                <label class="resource-label">Source</label>
                <input type="text" name="data.source" value="{{data.source}}" data-dtype="String" />
            </div>
            <div class="resource" id="missilegear-notes">
                <label class="resource-label">Note</label>
                <input type="text" name="data.notes" value="{{data.notes}}" data-dtype="String" />
            </div>
            <ol class="range-table">
                <li class="flexrow range-header" id="missilegear-range-header">
                    <div class="range-label"></div>
                    <div class="range-value">Short</div>
                    <div class="range-value">Medium</div>
                    <div class="range-value">Long</div>
                    <div class="range-value">Extreme</div>
                </li>
                <li class="flexrow" id="missilegear-range-values">
                    <div class="range-label">Range</div>
                    <div class="range-value" id="missilegear-range-short">
                        <input type="text" name="data.range.short" 
                        value="{{data.range.short}}" data-dtype="Number" /></div>
                    <div class="range-value" id="missilegear-range-medium">
                        <input type="text" name="data.range.medium" 
                        value="{{data.range.medium}}" data-dtype="Number" /></div>
                    <div class="range-value" id="missilegear-range-long">
                        <input type="text" name="data.range.long" 
                        value="{{data.range.long}}" data-dtype="Number" /></div>
                    <div class="range-value" id="missilegear-range-extreme">
                        <input type="text" name="data.range.extreme" 
                        value="{{data.range.extreme}}" data-dtype="Number" /></div>
                </li>
                <li class="flexrow" id="missilegear-impact-values">
                    <div class="range-label">Impact</div>
                    <div class="range-value" id="missilegear-impact-short">
                        <input type="text" name="data.impact.short" 
                        value="{{data.impact.short}}" data-dtype="Number" /></div>
                    <div class="range-value" id="missilegear-impact-medium">
                        <input type="text" name="data.impact.medium" 
                        value="{{data.impact.medium}}" data-dtype="Number" /></div>
                    <div class="range-value" id="missilegear-impact-long">
                        <input type="text" name="data.impact.long" 
                        value="{{data.impact.long}}" data-dtype="Number" /></div>
                    <div class="range-value" id="missilegear-impact-extreme">
                        <input type="text" name="data.impact.extreme"
                        value="{{data.impact.extreme}}" data-dtype="Number" /></div>
                </li>
            </ol>
            <div class="resource artifact flexrow" id="missilegear-isartifact">
                <input type="checkbox" name="data.arcane.isArtifact" value="{{data.arcane.isArtifact}}"
                    data-dtype="Boolean" {{checked data.arcane.isArtifact}} />
                <label class="resource-label">Artifact</label>
            </div>
            {{#if data.arcane.isArtifact}}
                <fieldset id="missilegear-artifact">
                    <legend>Artifact Properties</legend>
                    <div class="grid grid-fixed-row grid-3col">
                        <div class="resource" id="missilegear-artifact-isattuned">
                            <input type="checkbox" name="data.arcane.isAttuned" value="{{data.arcane.isAttuned}}"
                                data-dtype="Boolean" {{checked data.arcane.isAttuned}} />
                            <label class="resource-label">Attuned</label>
                        </div>
                        <div class="resource" id="missilegear-artifact-charges">
                            <label class="resource-label">Charges</label>
                            <input type="number" name="data.arcane.charges" value="{{data.arcane.charges}}"
                                data-dtype="Number" />
                        </div>
                        <div class="resource" id="missilegear-artifact-ego">
                            <label class="resource-label">Ego/Will</label>
                            <input type="number" name="data.arcane.ego" value="{{data.arcane.ego}}"
                                data-dtype="Number" />
                        </div>
                    </div>
                </fieldset>
            {{/if}}
        </div>

        {{!-- Description Tab --}}
        <div class="tab description" id="missilegear-desc" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects" id="missilegear-effects" data-group="primary" data-tab="effects">
            <ol class="effects-list">
                <li class="effects-header flexrow">
                    <h3 class="effect-name flexrow">Effect</h3>
                    <div class="effect-duration">Duration</div>
                    <div class="effect-changes">Changes</div>
                    <a class="effect-controls effect-control" title="Add Effect"
                        data-action="{{#unless hasActor}}create{{/unless}}"><span
                            class="{{#unless hasActor}}active{{/unless}}"><i class="fas fa-plus"></i> Add</span></a>
                </li>

                <ol class="effect-list item-list">
                    {{#each effects as |effect id|}}
                        <li class="effect {{#if effect.data.disabled}}disabled{{/if}} flexrow"
                            data-effect-id="{{effect.data._id}}">
                            <div class="effect-name flexrow">
                                <div class="effect-image" style="background-image: url('{{effect.data.icon}}')"></div>
                                <h4>{{effect.data.label}}</h4>
                            </div>
                            <div class="effect-ele effect-duration">{{effect.duration.label}}</div>
                            <div class="effect-ele effect-changes">{{effect.changes}}</div>
                            <div class="effect-controls">
                                <a class="effect-control" data-action="toggle"><i
                                        class="{{#unless (or effect.data.disabled hasActor)}}active{{/unless}} fas fa-circle-notch"></i></a>
                                <a class="effect-control" data-action="edit"><i
                                        class="{{#unless hasActor}}active{{/unless}} fas fa-edit"></i></a>
                                <a class="effect-control" data-action="delete"><i
                                        class="{{#unless hasActor}}active{{/unless}} fas fa-trash"></i></a>
                            </div>
                        </li>
                    {{/each}}
                </ol>
            </ol>
        </div>
    </section>

</form>