<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="grid grid-2col">
            <div class="resource">
              <label class="resource-label">Skill Base (SB)</label>
                <input type="text" name="data.skillBase" value="{{data.skillBase}}" data-dtype="Number"/>
            </div>
            <div class="resource">
              <label class="resource-label">Mastery Level (ML)</label>
                <input type="text" name="data.masteryLevel" value="{{data.masteryLevel}}" data-dtype="Number"/>
            </div>
        </div>
    </section>
</form>
