<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header skill-header">
        <div class="flexrow">
            <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
            <div class="header-fields flexcol">
                <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
                <div class="skill-type flexrow">
                    <label class="label">Type</label>
                    <select class="value" name="data.type">
                        {{#select data.type}}
                        {{#each config.skillTypes}}
                            <option value="{{this}}">{{this}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="properties">Properties</a>
        <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body skill-body">

        {{!-- Properties Tab --}}
        <div class="tab properties" data-group="primary" data-tab="properties">
            <div class="grid grid-fixed-row grid-3col">
                <div class="resource">
                    <label class="resource-label">Skill Base (SB)</label>
                    <input type="text" name="data.skillBase.value" value="{{data.skillBase.value}}"
                        data-dtype="Number" {{#if data.skillBase.formula}}readonly{{/if}} />
                </div>
                <div class="resource">
                    <label class="resource-label">Mastery Level (ML)</label>
                    <input type="number" name="data.masteryLevel" value="{{data.masteryLevel}}" data-dtype="Number" />
                </div>
                {{#if (eq data.type "Ritual")}}
                    <div class="resource">
                        <label class="resource-label">Piety</label>
                        <input type="number" name="data.ritual.piety" value="{{data.ritual.piety}}" data-dtype="Number" />
                    </div>
                {{/if}}
                {{#if (eq data.type "Psionic")}}
                <div class="resource"></div>
                <div class="resource">
                    <label class="resource-label">Fatigue Cost</label>
                    <input type="number" name="data.psionic.fatigue" value="{{data.psionic.fatigue}}" data-dtype="Number" />
                </div>
                <div class="resource">
                    <label class="resource-label">Prep Time</label>
                    <input type="text" name="data.psionic.time" value="{{data.psionic.time}}" data-dtype="String" />
                </div>
                {{/if}}
            </div>
            <div class="resource">
                <label class="resource-label tooltip">Skill Base Formula<span class="tooltiptext">Enter a formula to automatically calculate skill base.  For example:
                    "@str, @sta, @wil, Ulandus, Aralius:2". This will average strength, stamina, and will; if Ulandus sunsign, add 1; if Aralius sunsign, add 2.
                    There must always be exactly three attributes.
                    Valid attributes are: @str, @sta, @dex, @agl, @int, @aur, @wil, @eye, @hrg, @sml, @voi, @cml, @mor</span></label>
                <input type="text" name="data.skillBase.formula" value="{{data.skillBase.formula}}"
                    data-dtype="String" />
                {{#unless data.skillBase.isFormulaValid}}
                    <div class="error">Error: Invalid SkillBase Formula!</div>
                {{/unless}}
            </div>
            <div class="resource">
                <label class="resource-label">Source</label>
                <input type="text" name="data.source" value="{{data.source}}" data-dtype="String" />
            </div>
            <div class="resource">
                <label class="resource-label">Note</label>
                <input type="text" name="data.notes" value="{{data.notes}}" data-dtype="String" />
            </div>
        </div>

        {{!-- Description Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>