<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header skill-header">
        <div class="flexrow">
            <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
            <div class="header-fields flexcol">
                <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
                <div class="skill-type flexrow">
                    <label class="label">Type</label>
                    <select class="value" name="data.type">
                        {{#select data.type}}
                            {{#each config.traitTypes}}
                                <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="properties">Properties</a>
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="effects">effects</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body skill-body">

        {{!-- Properties Tab --}}
        <div class="tab properties" data-group="primary" data-tab="properties">
            <div class="resource">
                <label class="resource-label">Source</label>
                <input type="text" name="data.source" value="{{data.source}}" data-dtype="String" />
            </div>
            <div class="resource">
                <label class="resource-label">Note</label>
                <input type="text" name="data.notes" value="{{data.notes}}" data-dtype="String" />
            </div>
        </div>

        {{!-- Description Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects" data-group="primary" data-tab="effects">
            <ol class="effects-list">
                <li class="effects-header flexrow">
                    <h3 class="effect-name flexrow">Effect</h3>
                    <div class="effect-duration">Duration</div>
                    <div class="effect-changes">Changes</div>
                    <a class="effect-controls effect-control" title="Add Effect"
                        data-action="{{#unless hasActor}}create{{/unless}}"><span
                            class="{{#unless hasActor}}active{{/unless}}"><i class="fas fa-plus"></i> Add</span></a>
                </li>

                <ol class="effect-list item-list">
                    {{#each effects as |effect id|}}
                        <li class="effect {{#if effect.data.disabled}}disabled{{/if}} flexrow"
                            data-effect-id="{{effect.data._id}}">
                            <div class="effect-name flexrow">
                                <div class="effect-image" style="background-image: url('{{effect.data.icon}}')"></div>
                                <h4>{{effect.data.label}}</h4>
                            </div>
                            <div class="effect-ele effect-duration">{{effect.duration.label}}</div>
                            <div class="effect-ele effect-changes">{{effect.changes}}</div>
                            <div class="effect-controls">
                                <a class="effect-control" data-action="toggle"><i
                                        class="{{#unless (or effect.data.disabled hasActor)}}active{{/unless}} fas fa-circle-notch"></i></a>
                                <a class="effect-control" data-action="edit"><i
                                        class="{{#unless hasActor}}active{{/unless}} fas fa-edit"></i></a>
                                <a class="effect-control" data-action="delete"><i
                                        class="{{#unless hasActor}}active{{/unless}} fas fa-trash"></i></a>
                            </div>
                        </li>
                    {{/each}}
                </ol>
            </ol>
        </div>
    </section>
</form>