<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
            <div class="flexrow">
                <label>In Container:</label>
                <select name="system.container">
                    {{#select data.container}}
                        {{#each containers as |cid cname|}}
                            <option value="{{cid}}">{{cname}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="properties">Properties</a>
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="effects">effects</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Properties Tab --}}
        <div class="tab properties" data-group="primary" data-tab="properties">
            <div class="grid grid-fixed-row grid-3col">
                <div class="resource" id="weapongear-qty">
                    <label class="resource-label">Quantity</label>
                    <input type="number" name="system.quantity" value="{{idata.quantity}}" data-dtype="Number" />
                </div>
                <div class="resource" id="weapongear-weight">
                    <label class="resource-label">Weight</label>
                    <input type="number" name="system.weight" value="{{idata.weight}}" data-dtype="Number" />
                </div>
                <div class="resource" id="weapongear-value">
                    <label class="resource-label">Value</label>
                    <input type="number" name="system.value" value="{{idata.value}}" data-dtype="Number" />
                </div>
                <div></div>
                <div></div>
                <div></div>
                <div class="resource" id="weapongear-quality">
                    <label class="resource-label">Weapon Quality</label>
                    <input type="number" name="system.weaponQuality" value="{{idata.weaponQuality}}" data-dtype="Number" />
                </div>
                <div class="resource" id="weapongear-attack">
                    <label class="resource-label">Attack</label>
                    <input type="number" name="system.attack" value="{{idata.attack}}" data-dtype="Number" />
                </div>
                <div class="resource" id="weapongear-defense">
                    <label class="resource-label">Defense</label>
                    <input type="number" name="system.defense" value="{{idata.defense}}" data-dtype="Number" />
                </div>
                <div></div>
                <div></div>
                <div></div>
                <div class="resource" id="weapongear-attack-mod">
                    <label class="resource-label">Attack Modifier</label>
                    <input type="number" name="system.attackModifier" value="{{idata.attackModifier}}"
                        data-dtype="Number" />
                </div>
                <div class="resource"></div>
                <div class="resource"></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="resource" id="weapongear-blunt">
                    <label class="resource-label">Blunt</label>
                    <input type="number" name="system.blunt" value="{{idata.blunt}}" data-dtype="Number" />
                </div>
                <div class="resource" id="weapongear-edged">
                    <label class="resource-label">Edged</label>
                    <input type="number" name="system.edged" value="{{idata.edged}}" data-dtype="Number" />
                </div>
                <div class="resource" id="weapongear-piercing">
                    <label class="resource-label">Piercing</label>
                    <input type="number" name="system.piercing" value="{{idata.piercing}}" data-dtype="Number" />
                </div>
               <div class="resource" id="weapongear-assocskill">
                    <label class="resource-label" for="system.assocSkill">Associated Skill</label>
                    {{#if hasCombatSkills}}
                        <select class="resource-value" name="system.assocSkill" data-dtype="String">
                            {{#select data.assocSkill}}
                                {{#each combatSkills}}
                                    <option value="{{this}}">{{this}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    {{else}}
                        <input type="text" name="system.assocSkill" value="{{idata.assocSkill}}" data-dtype="String" />
                    {{/if}}
                </div>
            </div>
            <div class="resource" id="weapongear-source">
                <label class="resource-label">Source</label>
                <input type="text" name="system.source" value="{{idata.source}}" data-dtype="String" />
            </div>
            <div class="resource" id="weapongear-note">
                <label class="resource-label">Note</label>
                <input type="text" name="system.notes" value="{{idata.notes}}" data-dtype="String" />
            </div>
            <div class="resource artifact flexrow" id="weapongear-isartifact">
                <input type="checkbox" name="system.arcane.isArtifact" value="{{idata.arcane.isArtifact}}"
                    data-dtype="Boolean" {{checked data.arcane.isArtifact}} />
                <label class="resource-label">Artifact</label>
            </div>
            {{#if data.arcane.isArtifact}}
                <fieldset id="weapongear-artifact">
                    <legend>Artifact Properties</legend>
                    <div class="grid grid-fixed-row grid-3col">
                        <div class="resource" id="weapongear-artifact-isattuned">
                            <input type="checkbox" name="system.arcane.isAttuned" value="{{idata.arcane.isAttuned}}"
                                data-dtype="Boolean" {{checked data.arcane.isAttuned}} />
                            <label class="resource-label">Attuned</label>
                        </div>
                        <div class="resource" id="weapongear-artifact-charges">
                            <label class="resource-label">Charges</label>
                            <input type="number" name="system.arcane.charges" value="{{idata.arcane.charges}}"
                                data-dtype="Number" />
                        </div>
                        <div class="resource" id="weapongear-artifact-ego">
                            <label class="resource-label">Ego/Will</label>
                            <input type="number" name="system.arcane.ego" value="{{idata.arcane.ego}}"
                                data-dtype="Number" />
                        </div>
                    </div>
                </fieldset>
            {{/if}}
        </div>

        {{!-- Description Tab --}}
        <div class="tab description" id="weapongear-desc" data-group="primary" data-tab="description">
            {{editor idata.description target="system.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects" id="weapongear-effects" data-group="primary" data-tab="effects">
            <ol class="effects-list">
                <li class="effects-header flexrow">
                    <h3 class="effect-name flexrow">Effect</h3>
                    <div class="effect-duration">Duration</div>
                    <div class="effect-changes">Changes</div>
                    <a class="effect-controls effect-control" title="Add Effect"
                        data-action="{{#unless hasActor}}create{{/unless}}"><span
                            class="{{#unless hasActor}}active{{/unless}}"><i class="fas fa-plus"></i> Add</span></a>
                </li>

                <ol class="effect-list item-list">
                    {{#each effects as |effect id|}}
                        <li class="effect {{#if effect.data.disabled}}disabled{{/if}} flexrow"
                            data-effect-id="{{effect.data._id}}">
                            <div class="effect-name flexrow">
                                <div class="effect-image" style="background-image: url('{{effect.data.icon}}')"></div>
                                <h4>{{effect.data.label}}</h4>
                            </div>
                            <div class="effect-ele effect-duration">{{effect.duration.label}}</div>
                            <div class="effect-ele effect-changes">{{effect.changes}}</div>
                            <div class="effect-controls">
                                <a class="effect-control" data-action="toggle"><i
                                        class="{{#unless (or effect.data.disabled hasActor)}}active{{/unless}} fas fa-circle-notch"></i></a>
                                <a class="effect-control" data-action="edit"><i
                                        class="{{#unless hasActor}}active{{/unless}} fas fa-edit"></i></a>
                                <a class="effect-control" data-action="delete"><i
                                        class="{{#unless hasActor}}active{{/unless}} fas fa-trash"></i></a>
                            </div>
                        </li>
                    {{/each}}
                </ol>
            </ol>
        </div>
    </section>

</form>